# only track pretrained models
models/*
!models/unet_256x256_pretrained.h5

# ignore nested repos
code/*
!code/fetch-repos.sh

# don't make thesis publicly available
thesis/

# provide zipped version of base dataset
datasets/*
!datasets/generated.zip

# also provide pre-generated abc-files
!datasets/generated/
datasets/generated/*
!datasets/generated/abc/