# only track pretrained models
models/*
!models/unet_256x256_pretrained.h5

# ignore nested repos
code/*
!code/fetch-repos.sh

# don't make thesis publicly available
thesis/

# provide zipped version of base dataset
datasets/*
!datasets/generated/
datasets/generated/*
!datasets/samples/
!datasets/samples/*
!datasets/generated/base_dataset.zip

# needed for dataset pipeline
!datasets/generated/classlist.json

# also provide pre-generated abc-files
!datasets/generated/abc/